{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <link rel="stylesheet" href="https://3.swiper.com.cn/dist/css/swiper.min.css">#}

    <style>
        .name{font-size: 30px;}
        img{width: 300px;height: 300px;border-radius: 50%;}
        
    
    </style>
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
{#    <script>#}
{#        $(function () {#}
{#            $('.but').click(function () {#}
{#                imgobj = document.getElementsByClassName('img');#}
{#                var form = new FormData();#}
{#                form.append('img',imgobj);#}
{##}
{#                $.ajax({#}
{#                    'url':'{% url 'clothes:saveimg' %}',#}
{#                    'type':'get',#}
{#                    'data':form,#}
{#                    'processData':false,#}
{#                    'contentType':false,#}
{#                    success:function (data) {#}
{#                        alert('ok')#}
{#                    }#}
{#                })#}
{#            })#}
{#        })#}
{#    </script>#}
</head>
<body>
    <div class="startimg">
        <div class="name">用户名：{{ user.username }}</div>
        <div><h2> 头像：</h2></div>
       <img src="{% static user.headimg %}" alt="">
        <br>
        <form action="{% url 'clothes:saveimg' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="img" value="上传图片">
        <input type="submit" class="but" value="提交">
        </form>
    </div>
</body>
</html>